body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  text-align:center;
}

.games {
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:40px;
}

.game {
  background:#1e293b;
  padding:20px;
  border-radius:10px;
  width:220px;
}

.game a {
  display:block;
  margin-top:15px;
  padding:12px;
  background:#22c55e;
  color:black;
  text-decoration:none;
  font-weight:bold;
  border-radius:6px;
}
#joystick-container {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 100px;
  height: 100px;
  touch-action: none; /* necessário para toque */
  z-index: 1000; /* aparece sobre tudo */
}

#joystick-base {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  position: relative;
}

#joystick-stick {
  width: 50%;
  height: 50%;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  touch-action: none;
}

